body {
    background-color: black;
}

div > h1 {
    font-weight: bold;
    }
    
    div {
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
}
