body {
    background-color: black;
}

div > h1 {
    color: white;
    font-weight: bold;
}

div {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
}
